.cards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-body p {
  text-align: center;
  color: #082439;
}

.cards .cards-card-body p:first-child {
  font-style: italic;
  font-size: 18px;
}

.cards .cards-card-body p:nth-child(2) {
  font-size: 12px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}